#box{
    margin-top: 50px;
    margin-left: 500px;
    width: 230px;
    height: 470px;
    border: 2px solid aqua;
    padding-left: 20px;
    border-radius: 20px;
    background-color: black;
    box-shadow: 2px 20px 55px ;
}
#h{
    margin-left: 10px;
    color: aqua;
    font-family: algerian;
}
#c{
    font-family:cursive;
    color: aqua;
    
}
.in{
    background-color: black;
    color: aqua;
    margin-top: -5px;
}
.tym{
    color: aqua;
    background-color: black;
        
}